@charset "utf-8";
/* CSS Document */

/*body { background-color:#666666; width:1920px; height:1080px;  background:url(../images/bg.png) } */
 body { background-color:#666666; width:1920px; height:1080px; overflow:hidden; cursor: url(../images/cursor.png), default; background:url(../images/bg.jpg); margin:0; }

.top_content {  width:1100px; height: 200px; border:solid 5px #05416b; font-family:Arial, Helvetica, sans-serif font; font-size:32px; color:#FFFFFF; background:url(../images/bg_black_trans.png); padding:15px; }

.top_content p {  margin:auto; text-align:center }

.mid_content {  width:1100px; height: 500px; border:solid 5px #05416b; font-family:Arial, Helvetica, sans-serif font; font-size:32px; color:#FFFFFF; background:url(../images/bg_black_trans.png); padding:15px; margin:20px 0 20px 0; }

.mid_content_large {  width:1100px; height: 760px; border:solid 5px #05416b; font-family:Arial, Helvetica, sans-serif font; font-size:32px; color:#FFFFFF; background:url(../images/bg_black_trans.png); padding:15px; margin:20px 0 20px 0; }

.mid_slide { position:absolute; left:2000px; top:10px; width:1100px; height: 1000px; font-family:Arial, Helvetica, sans-serif font; font-size:32px; color:#FFFFFF; }

#left_content_upper { position:absolute; padding:20px; top:10px; left:10px; width:310px; height:1020px; font-family:Arial, Helvetica, sans-serif; color:#efefef; font-size:22px;  background:url(../images/bg_nw.png);   }

#left_content_lower { position:absolute; padding:20px; top:550px; left:-10000px; width:310px; height:480px; font-family:Arial, Helvetica, sans-serif; color:#efefef; font-size:22px;   background:url(../images/bg_sw.png);   }

#right_content_upper { position:absolute; padding:20px; top:10px; left:1560px; width:310px; height:1020px; font-family:Arial, Helvetica, sans-serif; color:#efefef; font-size:22px;  background:url(../images/bg_ne.png);   }

#right_content_lower { position:absolute; padding:20px; top:9550px; left:1560px; width:310px; height:480px; font-family:Arial, Helvetica, sans-serif; color:#efefef; font-size:22px;  background:url(../images/bg_se.png);   }

#bs_logo { font-size:42px; position:absolute; top:1020px; width:300px; left:50px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#2f4f76 }

#right_content { position:absolute; top:10px; left:1560px; height:1000px; width:350px;  font-family:Verdana, Arial, Helvetica, sans-serif; color:#2f4f76;  }

.top_content_small {  width:1100px; height: 80px; border:solid 5px #05416b; font-family:Arial, Helvetica, sans-serif font; font-size:48px; color:#FFFFFF; background:url(../images/bg_black_trans.png); padding:15px; }

.mid_content_huge {  width:1100px; height: 860px; border:solid 5px #05416b; font-family:Arial, Helvetica, sans-serif font; font-size:32px; color:#FFFFFF; background:url(../images/bg_black_trans.png); padding:15px; margin:20px 0 20px 0; }

.total_content_huge {  width:1100px; height: 1000px; border:solid 5px #05416b; font-family:Arial, Helvetica, sans-serif font; font-size:32px; color:#FFFFFF; background:url(../images/bg_black_trans.png); padding:15px; margin:20px 0 20px 0; }

.dynweather { float:left; width:140px; margin:5px; font-size:22px; height:140px; margin:0 0 40px 0; }

#timenow { font-size:72px; background:url(../images/bg_black_trans_lighter.png) repeat; }