

body, td {font-family: Verdana, Arial; font-size : 11px; color : #666666;}

.filter_box { font:9px geneva,arial,verdana, sans-serif; color: #000000; border: solid 1px #CCCCCC; background-color:#ffffff; }
.formstyle { font:11px geneva,arial,verdana, sans-serif; color: #000000; border: solid 2px #FFFF99; background-color:#ffffff; }
.page_header  {font-family: Verdana, Arial; font-size : 14px; color : #666666; font-weight:bold;}

A:link {font-family: Verdana, Arial; font-size : 11px; color : #666666;}
A:hover {text-decoration: underline;}
A:visited{ font-family: Verdana, Arial; font-size : 11px; color : #666666;}
A:visited:hover {text-decoration: underline;}

.page_header {
	font-family: Trebuchet MS,Verdana, Arial;
	font-size : 16px;
	color : #666666;
	text-decoration: none;
	font-weight : bold;
}


.tbl_header {font-family: Trebuchet MS,Verdana, Arial; font-size : 11px; color : #FF9933; text-decoration: none;}
A.tbl_header:link {font-family: Trebuchet MS,Verdana, Arial; font-size : 11px; color : #FF9933; text-decoration: none;}
A.tbl_header:hover {text-decoration: underline;}
A.tbl_header:visited{ font-family: Trebuchet MS,Verdana, Arial; font-size : 11px; color : #FF9933; text-decoration: none;}
A.tbl_header:visited:hover {text-decoration: none;}

A.tbl_header_blue:link {font-family: Trebuchet MS,Verdana, Arial; font-size : 11px; color : #00479C; text-decoration: none;}
A.tbl_header_blue:hover {text-decoration: underline;}
A.tbl_header_blue:visited{ font-family: Trebuchet MS,Verdana, Arial; font-size : 11px; color : #00479C; text-decoration: none;}
A.tbl_header_blue:visited:hover {text-decoration: none;}

A.sub_left_nav:link {font-family: Verdana, Arial; font-size : 11px; color : #666666; text-decoration: none;}
A.sub_left_nav:hover {text-decoration: none;}
A.sub_left_nav:visited{ font-family: Verdana, Arial; font-size : 11px; color : #666666; text-decoration: none;}
A.sub_left_nav:visited:hover {text-decoration: none;}
.hmain {font-family: Verdana, Arial; font-size : 16px; color : #666666; font-weight:bold;}

.tooltiptitle{COLOR: #FFFFFF; TEXT-DECORATION: none; CURSOR: Default; font-family: arial; font-weight: bold; font-size: 8pt}
.tooltipcontent{COLOR: #000000; TEXT-DECORATION: none; CURSOR: Default; font-family: arial; font-size: 8pt}
